.container {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Calibri, Open Sans, sans-serif
}

h1 {
    text-align: center;
}

#svg {
    position: absolute;
    top: 50%;
    margin-top: -350px;
}

.legend-size circle {
    fill: rgb(31, 119, 180);
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 300px;
}

.config-container {
    padding: 20px;
}

.load-btn {
    margin-bottom: 20px;
}